{% if ipython_status %}
<!DOCTYPE html>
<html lang="en">
<body>
    <p>A pymbs configuration file was found at <span style="color:green"><b>{{ pymbs_config_path }}</b></span>, but the file was empty.</p>
    <p>Please see <a href="{{ help_url }}">{{ help_url }}</a> for information on how to edit the file before proceeding.</p>
</body>
</html>
{% else %}
A pymbs configuration file was found at {pymbs_config_path}, but the file was empty.

Please see {help_url} for information on how to edit the file before proceeding.
{% endif %}
