{% if ipython_status %}
<!DOCTYPE html>
<html lang="en">
<body>
    <p>No pymbs configuration file was found at <span style="color:green"><b>{{ pymbs_config_path }}</b></span></p>
    <p>A blank file has been located at that location.</p>
    <p>Please see <a href="{{ help_url }}">{{ help_url }}</a> for information on how to edit the file before proceeding.</p>
</body>
</html>
{% else %}
No pymbs configuration file was found at {pymbs_config_path}.
A blank file has been created at that location.

Please see {help_url} for information on how to edit the file before proceeding.
{% endif %}
